<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h3>Here are the launches</h3>
    <ul>
      <% launches.forEach(function(launch) { %>
        <li>
          <strong>FlightNo: <%= launch.flight_number %></strong>
          &nbsp;
          <%=  launch.mission_name %> 
          &nbsp;
          <%=  launch.launch_year %> 
        </li>
        <% }); %>
    </ul>
  </body>
</html>
